*, *::before, *::after {
  box-sizing: border-box 
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  background-color: $dark1;
  color: $white1;
  padding: 1rem;
  padding-right: 3rem;
  margin: 0;
  max-width: 150vw
}

.menu_logo {
  margin-inline-end: auto;
}

a {
  font-family: "raleway";
  text-decoration: none;
  font-size: 1.2rem;
  color: $white1;
}