main {
  font-family: "raleway";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  background-color: rgb(0, 68, 255);
  color: $white1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}


//section lune
.monde_alternatif {
  background-color:$moonDark ;
  display: grid;
  grid-template-columns: 3fr 3fr;
  flex-shrink: 2;
  gap:4rem;
}

.moon_img {
  min-width: 15rem;
  max-width: 25rem;
  grid-column: 2/2;
  width: fit-content;
  margin: 4rem;
}
.moon_h2 {
  grid-column: 1/1;
  grid-row: 1/1;
  margin-left: 10rem;
  margin-top: 8rem;
}

.moon_txt {
  grid-column : 1/1;
  grid-row: 1/1;
  margin: 6rem;
  padding: 4rem;
}
//section VAmpire
.vampires {
  grid-row: 2/2;
  display: grid;
  grid-template-columns: 3fr 3fr;
  background-color:$vampireDark;
  column-gap: 5rem;
}

.vamp_txt {
  grid-column: 2/2;
  grid-row: 2/2;
  justify-content: center;
  margin: 6rem;
  padding: 4rem;
}
.vamp_h2 {
  grid-column: 2/2;
  grid-row: 2/2;
  margin-left: 10rem;
  margin-top: 8rem;
}

.vamp_img {
  grid-row: 2/2;
  min-width: 15rem;
  max-width: 50rem;
  width: fit-content;
}

//section agence
.agence {
  display: grid;
}

.agence_txt {
  margin-left: 6rem;
  margin-right: 6rem;
  padding-bottom: 0.4rem;
}

.agence_h2 {
  margin-left: 6rem;
}

//Agence côté vampire
.agence_vamp {
  grid-column: 1/1;
  grid-row: 3/3;
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 5rem;
  padding-bottom: 8rem;
  flex-shrink: 1;
  background-color: $redVamp;
}

.btn_nuit {
  border: 2px solid $gold;
  padding: 0.625rem 1.125rem;
  border-radius: 7px;
  background-color:$redVamp;
  color:$gold;
  cursor: pointer;
}

//Agence côté humain
.agence_hum {
  grid-column: 2/2;
  grid-row: 3/3;
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 5rem;
  padding-bottom: 8rem;
  flex-shrink: 1;
  background-color: $moonDark;
}
.btn_vacances {
  padding: 0.625rem 1.125rem;
  border-radius: 7px;
  border: 2px solid $red2;
  color:$red2;
  background-color:$moonDark;
  cursor: pointer;
}